<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <script src="https://kit.fontawesome.com/23e697d8cf.js" crossorigin="anonymous"></script>
    <title>Rosas</title>
    <link rel="icon" href="../images/flor.png">


</head>

<body>

    <div class="encabezado">
        <div>
            <h1><a href="https://www.significados.com/rosas-significado-color/">Rosas</a></h1>
        </div>

        <header class="header margen-interno">
            <div class="menu">
                <div class="logo">
                    <a href="../images/Logo.png"><img src="../images/Logo.png" width="70 %" alt="Logo"></a>
                </div>

                <div class="nav">
                    <a href="../views/index.html" target="_blank"><i class="fa-sharp fa-solid fa-house"></i><span class="sin">Inicio</span></a>
                    <a href="../views/sobre_nosotros.html" target="_blank"><i class="fa-sharp fa-solid fa-star"></i><span class="sin"> Nosotros</span></a>
                    <a href="../views/contacto.html" target="_blank"><i class="fa-sharp fa-solid fa-thumbtack"></i><span class="sin">Contacto</a></li>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.whatsapp.com/"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div>

                    </div>
        </header>
        <div class="principal margen-interno">
            <h1>Nuestros Productos</h1>
        </div>
        <section class="seccion margen-interno">
            <div class="productos">
                <article class="flores">
                    <img src="../images/ROSAS10.jpeg" width="200px" heigth="150px" alt="Rosas Rojas">
                    <h5>Rosas Rojas</h5>
                        <input class="pedido" type="number">
                        <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/ROSAS13.jpeg" width="200px" heigth="150px" alt="Rosas Amarillas">
                    <h5>Rosas Amarillas</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/ROSAS12.jpeg" width="200px" heigth="150px" alt="Rosas Blancas">
                    <h5>Rosas Blancas</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/rosasrosas1.jpg" width="200px" heigth="150px" alt="Rosas Rosadas">
                    <h5>Rosas Rosadas</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>

                <article class="flores">
                    <img src="../images/rosas azules.jpg" width="200px" heigth="150px" alt="Rosas Azules">
                    <h5>Rosas Azules</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/rosas-naranjas.jfif" width="220px" heigth="150px" alt="Rosas Naranja">
                    <h5>Rosas Anaranjadas</h5>
                    <input class="pedido" type="number">
                </article>
                <nav class="naveg">
                    <a href="../views/index.html">Inicio</a>
                    <a href="pagina-rosas.html">Rosas</a>
                    <a href="../views/pagina-lirios.html">Lirios</a>
                    <a href="../views/pagina-tulipanes.html">Tulipanes</a>
                    <a href="../views/pagina-silvestres.html">Flores Silvestres</a>
                    <a href="../views/contacto.html">Contacto</a>
                </nav>



            </div>


            <aside class="aside margen-interno">
                <h4>Algunos arreglos</h4>
                <div class="Tipos">
                    <div>
                        <img src="../images/osito y rosas.jpg" width="120px" alt="arreglos especiales">
                        <p>Rosas y mas</p>
                    </div>
                </div>
                <div class="Tipos">
                    <img src="../images/rosas y chocolates.jfif" width="120px" alt="regalos especiales">
                    <p>Rosas y chocolates</p>
                </div>
                <div class="Tipos">
                    <img src="../images/corazon de rosas.jfif" width="120px" alt="">
                    <p>Corazon de Rosas</p>
                </div>
            </aside>
        </section>
        <footer class="footer margen-interno">
            <div class="contener">
                <form action="">
                    <fieldset>
                        <legend>Pedidos 
                            <br>
                            Datos personales</legend>

                        <label for="nombre">Nombre: </label>
                        <input type="text" id="nombre" name="nombre" placeholder="escriba su nombre"><br><br>

                        <label for="Apellido">APELLIDO: </label>
                        <input type="text" id="Apellido" name="Apellido" placeholder="escriba su apellido"><br><br>

                        <label for="DNI">DNI</label>
                        <input type="number"><br><br>

                        <label for="correo electrónico">Correo electrónico:</label>
                        <input type="email"> <br><br>

                        <label for="fecnac">Fecha de nacimiento:</label>
                        <input type="date" id="Fecha Nacimiento">
                        <br><br>
                        <label for="Soliciud">Soliciud de presupuesto</label>
                        <input type="text" id="Presupuesto" placeholder="Detalle su solicitud">
                    </fieldset>

                </form>
            </div>

        </footer>
        <br>
        <a href="#">Desarrollado por Marina, Rocio y Daniela</a>
    </div>

</body>

</html>