<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <script src="https://kit.fontawesome.com/23e697d8cf.js" crossorigin="anonymous"></script>
    <title>Tulipanes</title>
    <link rel="icon" href="../images/flor.png">

</head>

<body>

    <div class="encabezado">
        <div>
           <h1><a href="https://www.elmueble.com/plantas-flores/cual-es-significado-color-tulipanes_45663#:~:text=El%20color%20blanco%20se%20suele,muestra%20elegancia%20y%20amor%20puro">Tulipanes</a></h1>
        </div>
        <header class=" header margen-interno">
                <div class="menu">
                    <div class="logo">
                        <a href="../views/index.html"><img src="../images/Logo.png" width="70 %" alt="Logo"></a>
                    </div>

                    <div class="nav">
                        <a href="../views/index.html" target="_blank"><i class="fa-sharp fa-solid fa-house"></i><span class="sin">Inicio</span></a>
                        <a href="../views/sobre_nosotros.html" target="_blank"><i class="fa-sharp fa-solid fa-star"></i><span class="sin"> Nosotros</span></a>
                        <a href="../views/contacto.html" target="_blank"><i class="fa-sharp fa-solid fa-thumbtack"></i><span class="sin">Contacto</a></li>
                    </div>

                    div class="social">
                    <div>
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.whatsapp.com/%F0%9F%8C%90/es"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    
                </div>
        </header>
                <div class="principal margen-interno" >
                    <h1>Nuestros Productos</h1>
                </div>
                <section class="seccion margen-interno">
                    <div class="productos">
                        <article class="flores">
                            <img src="../images/tulipan rojo.jfif" width="250px" heigth="200px" alt="Tulipanes Rojos">
                            <h5>Tulipanes Rojos </h5>
                            <input class="pedido" type="number">
                            <h6>Cantidad por unidad</h6>
                        </article>
                        <article class="flores">
                            <img src="../images/tulipan amarillo.jfif" width="250px" heigth="200px" alt="Tulipanes Amarillos">
                            <h5>Tulipanes Amarillos </h5>
                            <input class="pedido" type="number">
                            <h6>Cantidad por unidad</h6>
                        </article>
                        <article class="flores">
                            <img src="../images/tulipan blanco.jpg" width="200px" heigth="150px" alt="Tulipanes Blancos">
                            <h5>Tulipanes Blancos</h5>
                            <input class="pedido" type="number">
                            <h6>Cantidad por unidad</h6>
                        </article>
                        <article class="flores">
                            <img src="../images/tulipanes-rosados.jfif" width="250px" heigth="200px" alt="Tulipanes Rosados">
                            <h5>Tulipanes Rosados</h5>
                            <input class="pedido" type="number">
                            <h6>Cantidad por unidad</h6>
                        </article>

                        <article class="flores">
                            <img src="../images/tulipanes-azules.jpg" width="250px" heigth="200px" alt="Tulipanes Azules">
                            <h5>Tulipanes Azules</h5>
                            <input class="pedido" type="number">
                            <h6>Cantidad por unidad</h6>
                        </article>
                        <article class="flores">
                            <img src="../images/tulipanes-naranjas.jpg" width="250px" heigth="200px"alt="Tulipanes Anaranjados">
                            <h5>Tulipanes Anaranjados</h5>
                            <input class="pedido" type="number">
                        </article>
                        <nav class="naveg">
                            <a href="../views/index.html">Inicio</a>
                            <a href="../views/pagina-rosas.html">Rosas</a>
                            <a href="../views/pagina-lirios.html">Lirios</a>
                            <a href="../views/pagina-tulipanes.html">Tulipanes</a>
                            <a href="../views/pagina-silvestres.html">Flores Silvestres</a>
                            <a href="../views/contacto.html">Contacto</a>
                        </nav>

                    </div>


                    <aside class="aside margen-interno">
                        <h4>Algunos arreglos</h4>
                        <div class="Tipos">
                            <div>
                                <img src="../images/arreglo-tulipan 1.jfif" width="150px" alt="arreglos tulipanes">
                                <p>Ideas Tulipanes</p>
                            </div>
                        </div>
                        <div class="Tipos">
                            <img src="../images/arreglo-tulipanazul.jfif" width="150px" alt="regalos tulipanes">
                            <p>Arreglo Tulipanes Azules</p>
                        </div>
                        <div class="Tipos">
                            <img src="../images/arreglo-tulipan combinado.png" width="150px" alt="arreglos tulipanes">
                            <p>Arreglos Tulipanes Combinados</p>
                        </div>
                    </aside>
                </section>

        </div>


</body>

</html>