<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <script src="https://kit.fontawesome.com/23e697d8cf.js" crossorigin="anonymous"></script>
    <title>Flores Silvestres</title>
    <link rel="icon" href="../images/flor.png">


</head>

<body>

    <div class="encabezado">
        <div>
            <h1><a href="https://www.aepjp.es/tipos-de-flores-y-su-significado">Flores Silvestres</a>
                
            
            </h1>
        </div>

        <header class="header margen-interno">
            <div class="menu">
                <div class="logo">
                    <a href="../images/Logo.png"><img src="../images/Logo.png" width="70 %" alt="Logo"></a>
                </div>

                <div class="nav">
                    <a href="../views/index.html" target="_blank"><i class="fa-sharp fa-solid fa-house"></i><span class="sin">Inicio</span></a>
                    <a href="../views/sobre_nosotros.html" target="_blank"><i class="fa-sharp fa-solid fa-star"></i><span class="sin"> Nosotros</span></a>
                    <a href="../views/contacto.html" target="_blank"><i class="fa-sharp fa-solid fa-thumbtack"></i><span class="sin">Contacto</a></li>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>
                        
                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.whatsapp.com/%F0%9F%8C%90/es"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                    <div>

                    </div>
        </header>
        <div class="principal margen-interno">
            <h1>Nuestros Productos</h1>
        </div>
        <section class="seccion margen-interno">
            <div class="productos">
                <article class="flores">
                    <img src="../images/gardenia-jasminoides.webp" width="250px" heigth="250px" alt="Gardenias">
                    <h5>Gardenias</h5>
                        <input class="pedido" type="number">
                        <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/girasoles2.jfif" width="250px" heigth="250px" alt="Girasoles">
                    <h5>Girasoles</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/margarita_de_rio_brachycome_iberidifolia_2909_13_600.jpg" width="250px" heigth="250px" alt="Margaritas">
                    <h5>Margaritas</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/jacintos.jpg" width="170px" heigth="150px" alt="Jacitos">
                    <h5>Jacintos</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>

                <article class="flores">
                    <img src="../images/amapoll.png" width="200px" heigth="200px" alt="Amapolas">
                    <h5>Amapolas</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/gerberascl.jpg" width="200px" heigth="150px" alt="Rosas Naranja">
                    <h5>Gerberas</h5>
                    <input class="pedido" type="number">
                </article>
                <nav class="naveg">
                    <a href="../views/index.html">Inicio</a>
                    <a href="../views/pagina-rosas.html">Rosas</a>
                    <a href="../views/pagina-lirios.html">Lirios</a>
                    <a href="../views/pagina-tulipanes.html">Tulipanes</a>
                    <a href="../views/pagina-silvestres.html">Flores Silvestres</a>
                    <a href="../views/contacto.html">Contacto</a>
                </nav>



            </div>


            <aside class="aside margen-interno">
                <h4>Algunos arreglos</h4>
                <div class="Tipos">
                    <div>
                        <img src="../images/arreglo silvestre.jpg" width="120px" alt="arreglos especiales">
                        <p>Algunas Flores</p>
                    </div>
                </div>
                <div class="Tipos">
                    <img src="../images/arreglos especiales.jfif" width="120px" alt="regalos especiales">
                    <p>Hermosa Primavera</p>
                </div>
                <div class="Tipos">
                    <img src="../images/arregloscombinado.jpg" width="120px" alt="arreglo">
                    <p>Puro Color</p>
                </div>
            </aside>
        </section>
        <footer class="footer margen-interno">

         
        </footer>

    </div>

</body>

</html>