<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/Estilos.css">
    <script src="https://kit.fontawesome.com/23e697d8cf.js" crossorigin="anonymous"></script>
    <title>Lirios</title>
    <link rel="icon" href="../images/flor.png">

</head>

<body>

    <div class="encabezado">
        <div>
            <h1>
                <a
                    href="https://www.gob.mx/siap/articulos/el-lirium-una-flor-llena-de-historia-y-significados?idiom=es#:~:text=Debido%20a%20su%20amplia%20variedad,Lirios%20rojos%3A%20amor%2C%20seducci%C3%B3n">Lirios</a>
            </h1>
        </div>
        <header class="header margen-interno">
            <div class="menu">
                <div class="logo">
                    <a href="../views/index"><img src="../images/Logo.png" width="70 %" alt="Logo"></a>
                </div>

                <div class="nav">
                    <a href="../views/index.html" target="_blank"><i class="fa-sharp fa-solid fa-house"></i><span
                            class="sin">Inicio</span></a>
                    <a href="../views/sobre_nosotros.html" target="_blank"><i
                            class="fa-sharp fa-solid fa-star"></i><span class="sin"> Nosotros</span></a>
                    <a href="../views/contacto.html" target="_blank"><i class="fa-sharp fa-solid fa-thumbtack"></i><span
                            class="sin">Contacto</a></li>
                </div>
                <div class="social">
                    <div>
                        <a href="https://www.facebook.com/"><i class="fa-brands fa-facebook"></i></a>

                    </div>
                    <div>
                        <a href="https://www.instagram.com/"><i class="fa-brands fa-instagram"></i></a>
                    </div>
                    <div>
                        <a href="https://web.whatsapp.com/%F0%9F%8C%90/es"><i class="fa-brands fa-whatsapp"></i></a>
                    </div>
                <div>
            </div>
        </header>
        <div class="principal margen-interno">
            <h1>Nuestros Productos</h1>
        </div>
        <section class="seccion margen-interno">
            <div class="productos">
                <article class="flores">
                    <img src="../images/Lirio-rojo.jfif" width="200px" heigth="200px" alt="Lirios Rojos">
                    <h5>Lirios Rojos </h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/lirio-amarillo.jfif" width="200px" heigth="200x" alt="Lirios Amarillos">
                    <h5>Lirios Amarillos </h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/lirio-blanco.webp" width="200px" heigth="100px" alt="Lirios Blancos">
                    <h5>Lirios Blancos</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/Lirios-rosas1.jpg" width="200px" heigth="150px" alt="Lirios Rosados">
                    <h5>Lirios Rosados</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>

                <article class="flores">
                    <img src="../images/lirio-azul.jfif" width="250px" heigth="250x" alt="Lirios Azules">
                    <h5>Lirios Azules</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <article class="flores">
                    <img src="../images/lirio celeste.jpg" width="200px" heigth="150px" alt="Lirio Celeste">
                    <h5>Lirio Celeste</h5>
                    <input class="pedido" type="number">
                    <h6>Cantidad por unidad</h6>
                </article>
                <nav class="naveg">
                    <a href="../views/pagina-rosas.html">Inicio</a>
                    <a href="../views/pagina-rosas.html">Rosas</a>
                    <a href="../views/pagina-lirios.html">Lirios</a>
                    <a href="../views/pagina-tulipanes.html">Tulipanes</a>
                    <a href="../views/pagina-silvestres.html">Flores Silvestres</a>
                    <a href="../views/contacto.html">Contacto</a>
                </nav>



            </div>


            <aside class="aside margen-interno">
                <h4>Algunos arreglos</h4>
                <div class="Tipos">
                    <div>
                        <img src="../images/lirio-arreglo.jfif" width="100px" alt="arreglos especiales">
                        <p>Ideas con Lirios</p>
                    </div>
                </div>
                <div class="Tipos">
                    <img src="../images/arreglo con lirios 2.jfif" width="150px" alt="regalos especiales">
                    <p>Arreglo Lirios Blancos</p>
                </div>
                <div class="Tipos">
                    <img src="../images/arreglo con lirios 3.jpg" width="100px" alt="">
                    <p>Arreglos Lirios Combinados</p>
                </div>
            </aside>
        </section>

    </div>


</body>

</html>