<!DOCTYPE html>
<html>
<head>
    <title>SOBRE NOSOTROS</title>
    <link rel="stylesheet" href="../css/sobre_nosotros.css">
    <link rel="icon" href="../images/flor.png">
</head>
<body>
    <div class="titulo2">SOBRE NOSOTROS </div>
    <nav>
        <ul>
            <li><a href="../views/index.html"target="_blank"> Inicio  </a></li>
            <li><a href="sobre_nosotros.html" target="_blank">Nosotros</a></li>
            <li><a href="../views/contacto.html" target="_blank"> Contacto</a></li>
        
        </ul>
    
        </nav>
    <div class="fondo_transp">
    

    <article class="texto">
        La ciencia ha descubierto el porqué los gansos vuelan juntos. Vuelan formando una "V", porque cada pájaro al batir sus alas, produce un movimiento en el aire que ayuda al ganso que va detrás de él. Volando en V, todo el grupo aumenta por lo menos en un 70% su poder de vuelo, comparado a que cada pájaro lo hiciera solo.
Debemos considerar que la unión hace la fuerza.
Cada vez que un ganso se sale de la formación y siente la resistencia del aire, se da cuenta de la dificultad de volar solo y de inmediato se reincorpora al grupo, para beneficiarse del poder del compañero que va adelante.
Unidos vencemos, divididos caemos.
Cuando un líder de los gansos se cansa, se pasa a uno de los puestos de atrás y otro ganso toma su lugar.
Todos debemos estar dispuestos a asumir responsabilidades.
Los gansos que van detrás producen un sonido propio de ellos y lo hacen con frecuencia para estimular a los que van adelante para mantener la velocidad.
Una palabra de aliento incrementa las fuerzas.
Cuando un ganso enferma o cae herido, dos de sus compañeros se salen de la formación y lo siguen para ayudarlo y protegerlo, y se quedan con él hasta que esté nuevamente en condiciones de volar o hasta que muere.<br><br><br><br>
<img src="../images/rosasss.jpg"><br><br><br><br>
Reflexion: <br><br>
SI SOLO TUVIERAMOS<br>
LA INTELIGENCIA DE UN GANSO,<br>
NOS MANTENDRÍAMOS UNO AL LADO<br>
DEL OTRO, AYUDANDONOS Y ACOMPAÑÁNDONOS
    </article>
    
    <br><br><br><br><br><br><br><br><br><br>

<div class="titulo2"> NUESTRO PERSONAL </div>

<table>
    <tr>
      
        <th>APELLIDO</th>
        <th>NOMBRE</th>
        <th>FOTO</th>
    </tr>
    <tr>
        <td>Marina</td>
        <td>Marina</td>    
        <td><img src="../images/Marina.jpg"></td>
    </tr>
    <tr>
        <td>Daniela</td>
        <td>Daniela</td>
        <td><img src="../images/Daniela1.jpg"></td>
    </tr>
    
    
</table>
<a href="../views/index.html" class="volver"> HOME </a>
<br><br><br><br><br>
    
   
    </div>
    <footer>

        <div class="colum">
           <p><b> INFORMACION:</b></p>
           <a href="../views/index.html"> Inicio</a>
           <a href="../views/pagina-rosas.html">Productos</a>
           <a href="../views/sobre_nosotros.html"> Sobre Nosotros</a>
           <a href="../views/contacto.html" target="_blank"> Contacto</a>
        </div>

        <div class="colum">
            <p><b> NUESTRAS REDES:</b> </p>
            <a href="https://web.whatsapp.com/%F0%9F%8C%90/es"> WhatsApp</a><br>
            <a href="https://www.facebook.com/">Facebook</a><br>
            <a href="https://www.google.com.ar/"> Instagram</a>
        </div>

        <div class="colum">
            <p><b> MEDIOS DE PAGOS: </b></p>
            <img src="../images/pago.png" alt="libro">
        </div>
        <div> 
            <p> ____________________________________________________________________________________________________________________________________________________________</p>
            <p class="derechos"><b><i> Todos los derechos reservados ®</i></b></p>
        </div>

    </footer>
</body>
</html>